body {
    background-color: #4c4c4c;
}

  .card {
    width: 250px;
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.2s;
}

.card:hover {
    scale: 1.05;
    cursor: pointer;
    box-shadow: 1px 1px 10px 10px #3e3d3d;
}
  .card-img-top {
    width: 48%;
    height: 139px;
    padding: 12px;
    margin: 0 auto;
}

.parrafo {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-weight: 400;
    color: gray;
}

.titulo {
    color: #0d6efd;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}